body {
background: #4F6A5F
}
 
a {
color: #FFFFFF
}
 
.wrapper {
background: #4F6A5F;
width: 80%;
padding: 8px;
margin: 30 auto auto;
border-style: solid;
border-width: 0;
}
 
.heading {
background: #142D34;
width: 98%;
padding: 10px;
margin: 5 auto auto;
color: #FFFFFF
}
 
.content {
background:#9BA987;
width: 98%;
padding: 10px;
margin: 0 auto auto;
}
 
.text {
font-size: 100%;
background-color: #FFFFFF;
border: thin solid #545454;
padding: 5px;
width: 90%;
}
 
#entries {
background: #9BA987;
width: 70%;
padding: 5px;
margin: 10 5 auto auto; 
border-style: solid;
border-width: 1;
display: inline-block;
}
 
#sidebar {
background:#000000;
width: 25%;
padding: 5px;
margin: 10 auto 300 5;
border-style: solid;
border-width: 0;
display: inline-block;
color: #FFFFFF;
}