/*QiangGe   https://Qiangwl.com*/
body,html {
	width: 100%;
	height: 100%;
}

.topnav {
	font-size: 14px
}

.intro-header {
	padding-top: 40px;
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(information1.jpg) no-repeat center center;
	background-size: cover
}

.intro-message {
	margin:0 auto;
/*	background-color:lightblue;
*/	padding-top: 10%;
	padding-bottom: 20%;
	height: 30%;
    width: 30%
}

.input-group{
width:80%; 
margin:0 auto
}
#msg {
width:00%; margin:0 auto;
	padding: 15px;
	border: 1px solid transparent;
	margin-bottom: 10px;
	margin-top: 10px;
	background: hsla(250,2%,53%,.67);
	color: #fff;
	font-size: 1pc;
	text-align: left;
	display: none
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)
}

.intro-message>h3 {
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6)
}

.intro-message {
	padding-bottom: 15%
}
.intro-message>h1 {
	font-size: 3em;
	text-align:center
}

	.intro-divider {
		width: 100%
	}

	footer {
		padding: 50px 0;
		background-color: #f8f8f8
	}

	p.copyright {
		margin: 15px 0 0
	}
.text_div{
	/*width:50%; */
	margin:0 auto;
	padding: 15px;
	border:solid gray 1px;
	border-radius: 5px;
	background: rgba(0,0,0,0.77);
	text-align: center;

}
/*.text_div>h2{
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
	font-size: 5em;
	text-align: center
	text-color:rgba(1,1,1,0.8;
}*/
